ClienteColegioSWNet/ClienteColegioSWNet/Connected Services/ServicioMateriaSW/ServicioMateriaSWPort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://serviciosWeb/" targetNamespace="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMateriaPorCodigoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:materia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMateriasPorGrado">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="materia">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:int" />
      <xsd:element name="grado" type="xsd:int" />
      <xsd:element name="intensidadHoraria" type="xsd:double" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMateriaPorCodigo">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMateriasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:materia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMateriasPorGradoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:materia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMaterias" />
  <xsd:element name="Exception" type="ns0:Exception" />
  <xsd:element name="darMateriaPorCodigoResponse" type="ns0:darMateriaPorCodigoResponse" />
  <xsd:element name="darMateriasPorGrado" type="ns0:darMateriasPorGrado" />
  <xsd:element name="darMateriaPorCodigo" type="ns0:darMateriaPorCodigo" />
  <xsd:element name="darMateriasResponse" type="ns0:darMateriasResponse" />
  <xsd:element name="darMateriasPorGradoResponse" type="ns0:darMateriasPorGradoResponse" />
  <xsd:element name="darMaterias" type="ns0:darMaterias" />
</xsd:schema>