ClienteColegioSWNet/ClienteColegioSWNet/Connected Services/ServicioExtraSW/ServiciosExtraSWPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://serviciosWeb/" targetNamespace="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darCantidadMateriasPorGradoCursando" />
  <xsd:complexType name="cantidadMatriculasRegistradas" />
  <xsd:complexType name="cantidadEstudiantesRegistradosResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cantidadMatriculasRegistradasResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darCantidadMateriasPorGradoCursandoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cantidadMateriasRegistradas" />
  <xsd:complexType name="cantidadEstudiantesRegistrados" />
  <xsd:complexType name="cantidadMateriasRegistradasResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Exception" type="ns0:Exception" />
  <xsd:element name="darCantidadMateriasPorGradoCursando" type="ns0:darCantidadMateriasPorGradoCursando" />
  <xsd:element name="cantidadMatriculasRegistradas" type="ns0:cantidadMatriculasRegistradas" />
  <xsd:element name="cantidadEstudiantesRegistradosResponse" type="ns0:cantidadEstudiantesRegistradosResponse" />
  <xsd:element name="cantidadMatriculasRegistradasResponse" type="ns0:cantidadMatriculasRegistradasResponse" />
  <xsd:element name="darCantidadMateriasPorGradoCursandoResponse" type="ns0:darCantidadMateriasPorGradoCursandoResponse" />
  <xsd:element name="cantidadMateriasRegistradas" type="ns0:cantidadMateriasRegistradas" />
  <xsd:element name="cantidadEstudiantesRegistrados" type="ns0:cantidadEstudiantesRegistrados" />
  <xsd:element name="cantidadMateriasRegistradasResponse" type="ns0:cantidadMateriasRegistradasResponse" />
</xsd:schema>