ClienteColegioSWNet/ClienteColegioSWNet/Connected Services/ServicioMatriculaSW/ServicioMatriculaSWPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://serviciosWeb/" targetNamespace="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="actualizarMatriculaResponse" />
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="materia">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:int" />
      <xsd:element name="grado" type="xsd:int" />
      <xsd:element name="intensidadHoraria" type="xsd:double" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darPazYSalvoEstudiante">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
      <xsd:element minOccurs="0" name="arg1" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculaCodigoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculasEstudianteGrado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
      <xsd:element name="arg1" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="matricularEstudianteResponse" />
  <xsd:complexType name="darMatriculasEstudiante">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darPazYSalvoEstudianteResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculaCodigo">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculasPorFecha">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="borrarMatriculaCodigoResponse" />
  <xsd:complexType name="matricularEstudiante">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darPromedioEstudianteResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darPromedioEstudiante">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculasEstudianteResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculas" />
  <xsd:complexType name="darMateriasPorGradoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:materia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="matricula">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:int" />
      <xsd:element name="estado" type="xsd:int" />
      <xsd:element minOccurs="0" name="fechaFinal" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="fechaInicio" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="fechaInscripcion" type="xsd:dateTime" />
      <xsd:element name="notaDefinitiva" type="xsd:double" />
      <xsd:element minOccurs="0" name="pkEstudiante" type="xsd:string" />
      <xsd:element name="pkMateria" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMateriasPorGrado">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculasPorFechaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="borrarMatriculaCodigo">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="darMatriculasEstudianteGradoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarMatricula">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="actualizarMatriculaResponse" type="ns0:actualizarMatriculaResponse" />
  <xsd:element name="Exception" type="ns0:Exception" />
  <xsd:element name="darPromedioEstudiante" type="ns0:darPromedioEstudiante" />
  <xsd:element name="darPazYSalvoEstudiante" type="ns0:darPazYSalvoEstudiante" />
  <xsd:element name="darMatriculasEstudianteResponse" type="ns0:darMatriculasEstudianteResponse" />
  <xsd:element name="darMatriculaCodigoResponse" type="ns0:darMatriculaCodigoResponse" />
  <xsd:element name="darMatriculasEstudianteGrado" type="ns0:darMatriculasEstudianteGrado" />
  <xsd:element name="darMatriculas" type="ns0:darMatriculas" />
  <xsd:element name="matricularEstudianteResponse" type="ns0:matricularEstudianteResponse" />
  <xsd:element name="darMateriasPorGradoResponse" type="ns0:darMateriasPorGradoResponse" />
  <xsd:element name="darMatriculasEstudiante" type="ns0:darMatriculasEstudiante" />
  <xsd:element name="darMatriculasResponse" type="ns0:darMatriculasResponse" />
  <xsd:element name="darMatriculasPorFechaResponse" type="ns0:darMatriculasPorFechaResponse" />
  <xsd:element name="darMateriasPorGrado" type="ns0:darMateriasPorGrado" />
  <xsd:element name="darPazYSalvoEstudianteResponse" type="ns0:darPazYSalvoEstudianteResponse" />
  <xsd:element name="borrarMatriculaCodigo" type="ns0:borrarMatriculaCodigo" />
  <xsd:element name="darMatriculasPorFecha" type="ns0:darMatriculasPorFecha" />
  <xsd:element name="darMatriculaCodigo" type="ns0:darMatriculaCodigo" />
  <xsd:element name="borrarMatriculaCodigoResponse" type="ns0:borrarMatriculaCodigoResponse" />
  <xsd:element name="matricularEstudiante" type="ns0:matricularEstudiante" />
  <xsd:element name="darMatriculasEstudianteGradoResponse" type="ns0:darMatriculasEstudianteGradoResponse" />
  <xsd:element name="darPromedioEstudianteResponse" type="ns0:darPromedioEstudianteResponse" />
  <xsd:element name="actualizarMatricula" type="ns0:actualizarMatricula" />
</xsd:schema>